extends layout

block content
  .container(ng-controller="LighSwitchController")
    h1 lights
    .well {{lights}}
    p set colors and add new elements
    .row.well(ng-repeat='light in lights')
      .col-sm-2
        img.img-circle(src='images/lightelement_thumb_1.png', alt='lightelement thumbnail', width='96', height='96')
      .col-sm-4
        h3 {{light.name}}
        p ID: {{light.light_id}}
        p IP: 192.168.xxx.xxx
        p areas: {{light.areas.length}}
      .col-sm-4
        .col-sm-12.form.form-horizontal(role='form', ng-repeat='area in light.areas')
          div
            h4.col-sm-12 area \#{{area.number + 1}}: {{area.name}}
              small  (type: {{area.color_type}})
          .form-group.form-group-md(ng-repeat='value in area.values')
            .control-label.col-sm-3.text-right {{value.color}}
            .col-sm-9
              input#md.form-control(type='text', ng-model='value.value')
              //input#md.form-control(type='text', value='{{value.value}}')
      .col-sm-2
        .col-sm-6
          button.btn.btn-success(type='button', ng-click='setColor(light)') Set
        .col-sm-6
          button.btn.btn-danger(type='button', ng-click='lightOff(light)') Off